* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  line-height: 1.6;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1517495306984-f84210f9daa8?q=80&w=1600&auto=format&fit=crop')
    center/cover no-repeat;

  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

.logo {
  color: #ff3c78;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff3c78;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.hero-content h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  width: fit-content;
  padding: 12px 25px;
  background: #ff3c78;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #ff145f;
}

.section {
  padding: 80px 50px;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.dark {
  background: #1b1b1b;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background: #222;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card h3 {
  margin-top: 15px;
}

.card p {
  padding: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.03);
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 15px;
  border: none;
  border-radius: 6px;
  background: #2a2a2a;
  color: white;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  padding: 15px;
  border: none;
  background: #ff3c78;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff145f;
}

footer {
  background: black;
  padding: 20px;
  text-align: center;
}

#message {
  margin-top: 20px;
  color: #00ff88;
  font-weight: bold;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero-content {
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .hero-content h2 {
    font-size: 2.8rem;
  }
}
